
*
{
    margin:0;
    padding: 0;
}

#table-container {
   
    padding: 10px;
    font-size: 15px;
    overflow: hidden;
    height: 100% !important;
    width:100% !important;
    
    
   
}



.thead
{
   
 
    background-color: #ccc;
    padding-top: 15px;
    padding-bottom: 15px;
}


.orders-table-container {
    max-height: 0;
    overflow: hidden;
    width: 95% !important;
    margin-left: 50px !important;
  
    
    font-size: 12px;
    visibility: hidden;
    transition: max-height 0.5s ease, visibility 0.5s ease;
}

.orders-table-container.show {
    max-height: 1000px; 
    visibility: visible;
}

.product-row {
    max-height: 0;
     
    visibility: collapse;
    transition: max-height 0.5s ease, visibility 0.5s ease;
    
    
}


.product-row.show {
    
    max-height: 1000px;
    display: table-row;
    visibility:visible;
   
    
}

.toggle-icon {
   
    font-size: 20px;
   
    transition: transform 0.5s ease;
}
.quality-icon {
   
    font-size: 12px;
    
   
    
}

.toggle-icon:hover {
    
    cursor: pointer;
}
.navbar-nav
{
    display: flex !important;
    
}
.nav-item
{
    margin-left: 40px ;
    font-size: 20px;
    font-weight:bolder;
}

.heading
{
    
    text-align: center;
    margin-top: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif
    
    
}
.customer-row
{
    transition: 0.3s ease;
    
    padding: 20px 0;
}
.customer-row:hover
{
    background-color: #ccc;
}
.order-row
{
    color: black;
    transition: 0.3s ease;
    
}
.order-row:hover
{
    background-color: #ccc;
}

.product-items
{
    color:black;
    transition: 0.3s ease;
    
}
.product-items :hover
{
    background-color: #ccc;
}









.product-row table
{
    
    width: 85%;
    margin-left: 110px;
}

